header {
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

nav ul{
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: row;
  gap: 10px;
}

nav a {
  text-decoration: none;
}
