body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* HEADER COMPONENT STYLES */
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 50px;
}

.site-logo {
  font-size: 2em;
  font-weight: bold;
}

nav ul{
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: row;
  gap: 10px;
}

nav li {
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}
nav li:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

/* MAIN CONTENT STYLES */
main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* background: yellow; */
}

/* COFFEE LIST STYLES */
.coffee-item {
  position: relative;
  /* background: rosybrown; */
  padding: 15px;
  border-radius: 10px;
  width: max(25%, 220px);
  margin: 5px auto;
  transition: 0.3s;
}

.coffee-item:hover {
  transform: translateY(-1%);
  cursor: pointer;
}

.coffee-banner {
  position: relative;
  display: grid;
  /* margin-bottom: 100px; */
}

.coffee-banner img {
  width: 100%;
  z-index: -1;
  position: relative;
  /* top: 150px; */
  border-radius: 5px;
}
.coffee-banner h3 {
  position: absolute;
  padding-left: 5px;
  top: -12px;
  color: white;
  font-size: 2.7em;

}
/* FORM COMPONENT STYLES */
.form-component h4 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: .5fr 1fr;
  gap: 5px;
  margin-bottom: 15px;
}
label {
  text-align: left;
}
form button {
  grid-column: 1 / 3;
  margin-top: 10px;
}

/* DETAIL COMPONENT STYLES */
.selected-coffee {
  margin-bottom: 15px;
  background: rosybrown;
  border-radius: 10px;
  padding: 15px;
}
.sell-button button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.crud-buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

